body { margin: 0; font-family: "Segoe UI"; }

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  padding: 15px;
}
.sidebar-dark { background: black; color: white; }
.sidebar-light { background: rgb(97, 89, 89); color: black; }

.history-item {
  margin: 8px 0;
  opacity: .7;
}

/* Chat */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}


.menu-btn, .theme-btn {
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  color: inherit;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  display: inline-block;
  width: fit-content;
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 18px;
  margin: 6px 0;
  word-wrap: break-word;
}
.user { background: #4f9cff; color: white; align-self: flex-end; }
.bot { background: #6b6767; align-self: flex-start; }

.dark .messages { background: #3b3b3b; color: white; }
.light .messages { background: #f2f2f2; color: black; }

.input-box {
  display: flex;
  padding: 12px;
}
.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
}
.input-box button {
  margin-left: 8px;
  padding: 10px 16px;
}

.dark input, .dark button { background: #555; color: white; }
.light input, .light button { background: white; color: black; }

.loader {
  font-style: italic;
  opacity: .7;
}

.chat-row {
  display: flex;
  flex-direction: column;
}

.msg-right {
  display: flex;
  justify-content: flex-end;
}

.msg-left {
  display: flex;
  justify-content: flex-start;
}

.app.dark {
  background: #3b3b3b;
  color: white;
}

.app.light {
  background: #f2f2f2;
  color: black;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: inherit;
}

.close-btn:hover {
  opacity: 0.7;
}

.edit-icon {
  font-size: 12px;
  cursor: pointer;
  margin-top: 2px;
  align-self: flex-end;
  opacity: 0.6;
}

.edit-icon:hover {
  opacity: 1;
}

@media (max-width: 600px) {

  .sidebar {
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 100vh;
  }

  .chat-window {
    width: 100%;
  }

  .message {
    max-width: 85%;
    font-size: 14px;
  }

  .input-box {
    padding: 6px;
  }

  .input-box input {
    font-size: 14px;
  }

  .top-bar {
    padding: 8px;
  }

  .menu-btn, .theme-btn {
    font-size: 18px;
  }
}
